streamlit
yfinance
pandas
plotly.graph_objects
numpy
smtplib
time
email.mime.text
datetime
ta.momentum (RSIIndicator, StochasticOscillator, ROCIndicator, TSIIndicator, KAMAIndicator)
ta.trend (MACD, ADXIndicator, CCIIndicator)
ta.volatility (BollingerBands, AverageTrueRange)
ta.volume (MFIIndicator, OnBalanceVolumeIndicator)
